<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89605484473-fl1qgg0c14up84i7101mens9vjbqm5bu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89605484473-fl1qgg0c14up84i7101mens9vjbqm5bu</string>
	<key>API_KEY</key>
	<string>AIzaSyAc9KISPhprbrMzdfubDijm_rKw8JyAZxE</string>
	<key>GCM_SENDER_ID</key>
	<string>89605484473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.melowsoft.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-1edc3</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-1edc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89605484473:ios:0dbe5755a8a6ec97231068</string>
</dict>
</plist>